<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<!-- Caret is a special character on windows command line. Escaping it appropriately as ^^ to define the start of a line as the log message prefix. 
     This means each new line will be treated as a separate message.
     This behavior can be changed by defining an appropriate regex in place of ^^, Example: ^^\d\d?:\d\d:\d\d for messages beginning with a time (say, 22:10:01 or 7:10:01).
-->
        <httpPlatform processPath="D:\home\SiteExtensions\JavaApplicationLogs\TracingLauncher.exe" 
                      arguments="^^ &quot;%programfiles%\Java\zulu8.17.0.3-jdk8.0.102-win_x64\bin\java.exe&quot; &quot;-Djava.util.logging.config.file=\&quot;D:\Program Files (x86)\apache-tomcat-8.0.23\conf\logging.properties\&quot; -Djava.util.logging.manager=org.apache.juli.ClassLoaderLogManager -Dsite.logdir=d:\home\LogFiles\ -Dsite.tempdir=D:\local\Temp  -Dport.http=%HTTP_PLATFORM_PORT% -Djava.net.preferIPv4Stack=true  -Djava.endorsed.dirs=\&quot;D:\Program Files (x86)\apache-tomcat-8.0.23\endorsed\&quot; -classpath \&quot;D:\Program Files (x86)\apache-tomcat-8.0.23\bin\bootstrap.jar;D:\Program Files (x86)\apache-tomcat-8.0.23\bin\tomcat-juli.jar\&quot; -Dcatalina.base=\&quot;D:\Program Files (x86)\apache-tomcat-8.0.23\&quot; -Dcatalina.home=\&quot;D:\Program Files (x86)\apache-tomcat-8.0.23\&quot; -Djava.io.tmpdir=\&quot;D:\local\Temp\&quot; org.apache.catalina.startup.Bootstrap  start&quot;" stdoutLogEnabled="true">
            <environmentVariables>
              <environmentVariable name="CATALINA_HOME" value="D:\Program Files (x86)\apache-tomcat-8.0.23" />
              <environmentVariable name="JRE_HOME"      value="D:\Program Files\Java\zulu8.17.0.3-jdk8.0.102-win_x64" /> <!-- optional, if not specified, this will default to %programfiles%\Java -->
              <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
            </environmentVariables>                      
        </httpPlatform>
    </system.webServer>
</configuration>